{% extends 'blogapp/base.html' %}
{% block title %} About {% endblock %}

{% block body %}
    
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-12 text-left">
            <div class="section-title mb-5">
              <h2>About Us</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <p>
              {% load static %}
              <img src="{% static 'blogapp/images/logo.jpg' %}" alt="Image" class="img-fluid">
            </p>
          </div>
          <div class="col-lg-6 pl-md-5">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam qui obcaecati eaque odio, alias nulla quae, aliquid, rerum consequuntur, quaerat blanditiis cupiditate eos doloribus dolor debitis! Ex eius deleniti, soluta!</p>
            <p>Facilis sit molestiae deserunt quo corporis culpa dolorum animi architecto illum sapiente. Asperiores, placeat animi distinctio provident adipisci.</p>
            <ul class="ul-check list-unstyled success mt-5">
              <li>Lorem ipsum dolor sit.</li>
              <li>Cupiditate dolores rerum, consequatur!</li>
              <li>Quia dolor molestias voluptatem?</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

{% endblock %}