{% extends 'blogapp/base.html' %}
{% block title %} {{full_post.title}} {% endblock %}
{% block body %}    

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 single-content">
            
            <p class="mb-5">
              <img src="/media/{{full_post.image}}" alt="Image" class="img-fluid">
            </p>  
            <h1 class="mb-4">
              {{full_post.title}}
            </h1>
            <div class="post-meta d-flex mb-5">
              <div class="vcard">
                <span class="d-block">{{full_post.author}} in <a href="/{{full_post.category|lower}}">{{full_post.category}}</a></span>
                <span class="date-read">{{full_post.date}} <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>
                <span class="d-block"> Views: {{full_post.views}}  </span>
              </div>
            </div>

            <p> {{full_post.description| safe}} </p>

            <div class="fb-like" data-href="http://127.0.0.1:8000/fullpost/{{full_post.id}}" data-width="" data-layout="button_count" data-action="like" data-size="large" data-share="true"></div>
            <div class="pt-5">
                    <p>Categories:  <a href="#">Design</a>, <a href="#">Events</a>  Tags: <a href="#">#html</a>, <a href="#">#trends</a></p>
                  </div>
          </div>


          <div class="col-lg-3 ml-auto">
            <div class="section-title">
              <h2>Popular Posts</h2>
            </div>
            {% for popular_post in popular_posts %}
            <div class="trend-entry d-flex">
              <div class="number align-self-start">{{forloop.counter}}</div>
              <div class="trend-contents">
                <h2><a href="/fullpost/{{popular_post.id}}">{{popular_post.title}}</a></h2>
                <div class="post-meta">
                  <span class="d-block">{{popular_post.author}} in <a href="/{{popular_post.category|lower}}">{{popular_post.category}}</a></span>
                  <span class="date-read">{{popular_post.date}} <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>
                </div>
              </div>
            </div>
            {% endfor %}
            
            <p>
              <a href="{% url 'trendingpost' %}" class="more">See All Popular <span class="icon-keyboard_arrow_right"></span></a>
            </p>
          </div>


        </div>
        
      </div>
    </div>

{% endblock %}    